.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my css mobile view is the default */

* {
  box-sizing: border-box;
}

/* General declaration */
.pl-1 {
  padding-left: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.text-center {
  text-align: center;
}


.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icon-size {
  max-width: 100%;
  max-height: 50px;
}

.profile-container {
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
}

.logout-container {
  width: 50%;
  text-align: center;
}


.main-container {
  display: flex;
  margin: 1;
  margin: 1rem 1rem 0;
  border: 1px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.menu-container {
  border-bottom: 1px solid black;
  margin: 0;
  width: 100%;
  text-align: center;
}

.note-list {
  padding: 1rem;
  margin: auto;
  width: min-content;
}

.dashboard-container {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
}

.new-button-container, 
.delete-button-container,
.save-cancel-button-container {
  display: flex;
  align-self: flex-end;
  padding: 1rem;
}

.empty-container {
  margin: 10%;
}

.note-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.individual-note:hover {
  cursor: pointer;
  background-color: yellow;
}

.active {
  background-color: yellow;
}

.editable:hover {
  cursor: pointer;
}

.edit-note-mode-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}