.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my css */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.icon-size {
  max-width: 100%;
  max-height: 50px;
}

.profile-container {
  display: flex;
  align-items: end;
  padding-left: 50px;
}

.logout-container {
  width: 50%;
  text-align: center;
}

.pl-1 {
  padding-left: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.main-container {
  display: flex;
  margin: 1;
  margin: 1rem 1rem 0;
  border: 1px solid black;
}

.menu-container {
  border-right: 1px solid black;
  padding: 1rem;
  margin: 0;
}

ul {
  padding: 1rem;
}

.dashboard-container {
  flex-grow: 2;
}